.sheet-tracker {
    .character-sheet {
        height: 478px;
        width: 700px;
        border: 1px solid black;
        border-radius: 10px;
        margin: auto;
        position: relative;

        .hero {
            height: 325px;
            border-bottom: 1px solid black;

            h4 {
                border: 1px solid black;
            }
        }

        .main-stats {
            span {
                position: absolute;
                border-radius: 50%;
                height: 75px;
                width: 75px;
                border: 1px solid black;
                text-align: center;
                padding-top: 25px;
            }

            .speed {
                left: 225px;
                top: 50px;
            }

            .health {
                left: 250px;
                top: 150px;
            }

            .stamina {
                left: 250px;
                top: 250px;
            }

            .defense {
                left: 225px;
                top: 350px;
            }
        }

        .attribute-stats {
            position: relative;
            height: 141px;

            span {
                position: absolute;
                height: 50px;
                width: 50px;
                border: 1px solid black;
                text-align: center;
                padding-top: 10px;
            }

            .willpower {
                left: 35px;
                top: 10px;
            }

            .might {
                left: 135px;
                top: 10px;
            }

            .knowledge {
                left: 35px;
                top: 80px;
            }

            .awareness {
                left: 135px;
                top: 80px;
            }
        }

        .hero-skill {
            height: 100%;

            .hero-ability, .hero-feat {
                height: 50%;
                border-left: 1px solid black;

                h4 {
                    margin: auto;
                }

                p {
                    padding-left: 50px;
                    padding-right: 50px;
                }
            }

            .hero-ability {
                border-bottom: 1px solid black;
            }
        }
    }
}

hr {
    border-color: black;
}
