.sheet-tracker {
    .character-sheet {
        height: 478px;
        width: 700px;
        border: 1px solid black;
        border-radius: 10px;
        margin: auto;
        position: relative;

        .hero {
            height: 325px;
            border-bottom: 1px solid black;

            h4 {
                border: 1px solid black;
                width: 75%;
            }
        }

        .icon-label {
            width: 50px; 
            height: 50px; 
            border-radius: 50%; 
            position: absolute; 
            border: 1px solid black; 
        }

        .btn-primary {
            width:25px; 
            height: 25px; 
            position: absolute;
            background-color: lightgray;
            border-color: black;
            color: black; 
        }

        .main-stats {
            .stat-circle {
                position: absolute;
                border-radius: 50%;
                height: 70px;
                width: 70px;
                border: 1px solid black;
                text-align: center;
                padding-top: 20px;
            }
            
            .speed {
                .speed-image {
                    left: 205px;
                    top: 0;
                }

                .speed-stat {
                    left: 240px;
                    top: 10px;
                }

                .speed-add-btn {
                    left:300px; 
                    top: 20px; 
                }
    
                .speed-subtract-btn {
                    left:300px; 
                    top: 45px;
                }
            }

            .health {
                .health-image {
                    left: 205px;
                    top: 80px;
                }

                .health-stat {
                    left: 240px;
                    top: 90px;
                }

                .health-add-btn {
                    left: 300px; 
                    top: 100px; 
                }
    
                .health-subtract-btn {
                    left: 300px; 
                    top: 125px;
                }
            }

            .stamina {
                .stamina-image {
                    left: 205px;
                    top: 160px;
                }

                .stamina-stat {
                    left: 240px;
                    top: 170px;
                }

                .stamina-add-btn {
                    left: 300px; 
                    top: 180px; 
                }
    
                .stamina-subtract-btn {
                    left: 300px; 
                    top: 205px;
                }
            }

            .defense {
                .defense-image {
                    left: 205px;
                    top: 240px;
                }

                .defense-stat {
                    left: 240px;
                    top: 250px;
                }

                .defense-add-btn {
                    left: 300px; 
                    top: 260px; 
                }
    
                .defense-subtract-btn {
                    left: 300px; 
                    top: 285px;
                }
            }
        }

        .attribute-stats {
            position: relative;
            height: 141px;

            .stat-box {
                position: absolute;
                height: 50px;
                width: 50px;
                border: 1px solid black;
                text-align: center;
                padding-top: 10px;
            }

            .willpower {
                .willpower-image {
                    left: -5px; 
                    top: 80px;
                }

                .willpower-stat {
                    left: 35px;
                    top: 80px;
                }

                .willpower-add-btn {
                    left:85px; 
                    top: 80px; 
                }
    
                .willpower-subtract-btn {
                    left:85px; 
                    top: 105px;
                }
            }

            .might {
                .might-image {
                    left: -5px; 
                    top: 10px;
                }
                
                .might-stat {
                    left: 35px;
                    top: 10px;
                }

                .might-add-btn {
                    left:85px; 
                    top: 10px 
                }
    
                .might-subtract-btn {
                    left:85px; 
                    top: 35px  
                }
            }

            .knowledge {
                .knowledge-image {
                    left: 135px; 
                    top: 10px;
                }

                .knowledge-stat {
                    left: 175px;
                    top: 10px;
                }

                .knowledge-add-btn {
                    left:225px; 
                    top: 10px; 
                }

                .knowledge-subtract-btn {
                    left:225px; 
                    top: 35px; 
                }
            }

            .awareness {
                .awareness-image {
                    left: 135px; 
                    top: 80px;
                }

                .awareness-stat {
                    left: 175px;
                    top: 80px;
                }
    
                .awareness-add-btn {
                    left:225px; 
                    top: 80px; 
                }
    
                .awareness-subtract-btn {
                    left:225px; 
                    top: 105px; 
                }
            }
        }

        .hero-skill {
            height: 100%;

            .hero-ability, .hero-feat {
                height: 50%;
                border-left: 1px solid black;

                h4 {
                    margin: auto;
                }

                p {
                    padding-left: 50px;
                    padding-right: 50px;
                }
            }

            .hero-ability {
                border-bottom: 1px solid black;
            }
        }
    }
}

hr {
    border-color: black;
}
