.sheet-tracker .character-sheet {
  height: 478px;
  width: 700px;
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

.sheet-tracker .character-sheet .hero {
  height: 325px;
  border-bottom: 1px solid black;
}

.sheet-tracker .character-sheet .hero h4 {
  margin-top: 10px;
  border: 1px solid black;
  width: 75%;
  background-color: #FFFAFA;
}

.sheet-tracker .character-sheet .hero .hero-image {
  width: 225px;
}

.sheet-tracker .character-sheet .icon-label {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
}

.sheet-tracker .character-sheet .btn-primary {
  height: 25px;
  position: absolute;
  background-color: lightgray;
  border-color: black;
  border-radius: 0 5px  5px 0;
  color: black;
  z-index: 1;
}

.sheet-tracker .character-sheet .main-stats .stat-circle {
  position: absolute;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 1px solid black;
  text-align: center;
  padding-top: 20px;
  z-index: 2;
  color: white;
}

.sheet-tracker .character-sheet .main-stats .speed .speed-image {
  left: 205px;
  top: 0;
}

.sheet-tracker .character-sheet .main-stats .speed .speed-stat {
  left: 240px;
  top: 10px;
  background-color: #32CD32;
}

.sheet-tracker .character-sheet .main-stats .speed .speed-add-btn {
  left: 300px;
  top: 20px;
  height: 25px;
}

.sheet-tracker .character-sheet .main-stats .speed .speed-subtract-btn {
  left: 300px;
  top: 45px;
}

.sheet-tracker .character-sheet .main-stats .health .health-image {
  left: 205px;
  top: 80px;
}

.sheet-tracker .character-sheet .main-stats .health .health-stat {
  left: 240px;
  top: 90px;
  background-color: #FA8072;
}

.sheet-tracker .character-sheet .main-stats .health .health-add-btn {
  left: 300px;
  top: 100px;
}

.sheet-tracker .character-sheet .main-stats .health .health-subtract-btn {
  left: 300px;
  top: 125px;
}

.sheet-tracker .character-sheet .main-stats .stamina .stamina-image {
  left: 205px;
  top: 160px;
}

.sheet-tracker .character-sheet .main-stats .stamina .stamina-stat {
  left: 240px;
  top: 170px;
  background-color: #FF8C00;
}

.sheet-tracker .character-sheet .main-stats .stamina .stamina-add-btn {
  left: 300px;
  top: 180px;
}

.sheet-tracker .character-sheet .main-stats .stamina .stamina-subtract-btn {
  left: 300px;
  top: 205px;
}

.sheet-tracker .character-sheet .main-stats .defense .defense-image {
  left: 205px;
  top: 240px;
}

.sheet-tracker .character-sheet .main-stats .defense .defense-stat {
  left: 240px;
  top: 250px;
  padding-top: 0;
}

.sheet-tracker .character-sheet .main-stats .defense .defense-add-btn {
  left: 300px;
  top: 260px;
}

.sheet-tracker .character-sheet .main-stats .defense .defense-subtract-btn {
  left: 300px;
  top: 285px;
}

.sheet-tracker .character-sheet .attribute-stats {
  position: relative;
  height: 151px;
  background-color: #ffdd8a;
  border-radius: 0 0 0 10px;
}

.sheet-tracker .character-sheet .attribute-stats .stat-box {
  position: absolute;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  text-align: center;
  padding-top: 10px;
  color: white;
  background-color: red;
}

.sheet-tracker .character-sheet .attribute-stats .willpower .willpower-image {
  left: 10px;
  top: 85px;
}

.sheet-tracker .character-sheet .attribute-stats .willpower .willpower-stat {
  left: 50px;
  top: 85px;
  background-color: #D2691E;
}

.sheet-tracker .character-sheet .attribute-stats .willpower .willpower-add-btn {
  left: 100px;
  top: 85px;
}

.sheet-tracker .character-sheet .attribute-stats .willpower .willpower-subtract-btn {
  left: 100px;
  top: 110px;
}

.sheet-tracker .character-sheet .attribute-stats .might .might-image {
  left: 10px;
  top: 15px;
}

.sheet-tracker .character-sheet .attribute-stats .might .might-stat {
  left: 50px;
  top: 15px;
  background-color: #800000;
}

.sheet-tracker .character-sheet .attribute-stats .might .might-add-btn {
  left: 100px;
  top: 15px;
}

.sheet-tracker .character-sheet .attribute-stats .might .might-subtract-btn {
  left: 100px;
  top: 40px;
}

.sheet-tracker .character-sheet .attribute-stats .knowledge .knowledge-image {
  left: 150px;
  top: 15px;
}

.sheet-tracker .character-sheet .attribute-stats .knowledge .knowledge-stat {
  left: 190px;
  top: 15px;
  background-color: #4682B4;
}

.sheet-tracker .character-sheet .attribute-stats .knowledge .knowledge-add-btn {
  left: 240px;
  top: 15px;
}

.sheet-tracker .character-sheet .attribute-stats .knowledge .knowledge-subtract-btn {
  left: 240px;
  top: 40px;
}

.sheet-tracker .character-sheet .attribute-stats .awareness .awareness-image {
  left: 150px;
  top: 85px;
}

.sheet-tracker .character-sheet .attribute-stats .awareness .awareness-stat {
  left: 190px;
  top: 85px;
  background-color: #696969;
}

.sheet-tracker .character-sheet .attribute-stats .awareness .awareness-add-btn {
  left: 240px;
  top: 85px;
}

.sheet-tracker .character-sheet .attribute-stats .awareness .awareness-subtract-btn {
  left: 240px;
  top: 110px;
}

.sheet-tracker .character-sheet .hero-skill {
  height: 100%;
  background-color: #ffec9e;
  border-radius: 0 10px 10px 0;
}

.sheet-tracker .character-sheet .hero-skill h4 {
  border: 1px solid black;
  width: 200px;
  text-align: center;
  background-color: #ffdd8a;
}

.sheet-tracker .character-sheet .hero-skill .hero-ability, .sheet-tracker .character-sheet .hero-skill .hero-feat {
  height: 50%;
  border-left: 1px solid black;
}

.sheet-tracker .character-sheet .hero-skill .hero-ability h4, .sheet-tracker .character-sheet .hero-skill .hero-feat h4 {
  margin: auto;
}

.sheet-tracker .character-sheet .hero-skill .hero-ability p, .sheet-tracker .character-sheet .hero-skill .hero-feat p {
  padding-left: 50px;
  padding-right: 50px;
  overflow: auto;
}

.sheet-tracker .character-sheet .hero-skill .hero-ability {
  border-bottom: 1px solid black;
}

hr {
  border-color: black;
}
/*# sourceMappingURL=site.css.map */