@{
    ViewBag.Title = "_CharacterSheet";
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h4>Character Sheet</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="character-sheet">
                    <div class="main-stats">
                        <span class="speed">#</span>
                        <span class="health">#</span>
                        <span class="stamina">#</span>
                        <span class="defense">#</span>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 hero">
                                <h4 class="text-center">Name</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="attribute-stats">
                                    <span class="willpower">#</span>
                                    <span class="might">#</span>
                                    <span class="knowledge">#</span>
                                    <span class="awareness">#</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12 hero-skill">
                        <div class="row hero-ability">
                            <div class="col-md-12">
                                <h4 class="text-center">Hero Ability</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Felis imperdiet proin fermentum leo vel orci. Enim tortor at auctor urna nunc id. Volutpat diam ut venenatis tellus in metus vulputate eu.
                                    Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum.
                                </p>
                            </div>
                        </div>
                        <div class="row hero-feat">
                            <div class="col-md-12">
                                <h4 class="text-center">Heroic Feat</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Felis imperdiet proin fermentum leo vel orci. Enim tortor at auctor urna nunc id. Volutpat diam ut venenatis tellus in metus vulputate eu.
                                    Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<hr />