@{
    ViewBag.Title = "_DiceSimulator";
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h4>Dice Simulator</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                Dice Results
            </div>
            <div class="col-md-6 col-sm-6">
                Dice Setup
            </div>
        </div>
    </div>
</div>
<hr />