<!DOCTYPE html>
<html ng-app="sheetTracker">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.js"></script>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/site.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body> 
    <div class="container-fluid sheet-tracker" ng-controller="SheetTrackerController as vm">
        <div class="row">
            <div class="col-md-12">
                <h2>Descent 2nd Edition Tracker Helper</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Token Tracker</h4>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <h4>Character Sheet</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h6>Select a Hero</h6>
                        <select class="character-selection">
                            <option ng-repeat="hero in vm.heroesList" ng-click="vm.populateHero(hero)" value="{{hero.heroName}}">{{hero.heroName}}</option>
                        </select>
                        <h6>Select a Class</h6>
                        <select>
                            <option ng-repeat="hero in vm.heroesList" ng-click="vm.populateHero(hero)" value="{{hero.heroName}}">{{hero.heroName}}</option>
                        </select>
                    </div>
                    <div class="col-md-8">
                        <div class="row character-sheet">
                            <div class="main-stats">
                                    <div class="speed">
                                        <img class="icon-label speed-image" src="images/stats/Speed.PNG" />
                                        <span class="stat-circle speed-stat">{{vm.heroSpeed}}</span>
                                    </div>
                                    <div class="health">
                                        <img class="icon-label health-image" src="images/stats/Health.PNG" />
                                        <span class="stat-circle health-stat">{{vm.crntHeroHealth + '/' + vm.maxHeroHealth}}</span>
                                        <input class="btn btn-primary health-add-btn" ng-click="vm.crntHeroHealth = (vm.crntHeroHealth == vm.maxHeroHealth ? vm.crntHeroHealth : vm.crntHeroHealth + 1)" type="image" src="images/misc/ArrowUp.png" />
                                        <input class="btn btn-primary health-subtract-btn" ng-click="vm.crntHeroHealth = (vm.crntHeroHealth == 0 ? 0 : vm.crntHeroHealth - 1)" type="image" src="images/misc/ArrowDown.png" />
                                    </div>
                                    <div class="stamina">
                                        <img class="icon-label stamina-image" src="images/stats/Stamina.PNG" />
                                        <span class="stat-circle stamina-stat">{{vm.crntHeroStamina + '/' + vm.maxHeroStamina}}</span>
                                        <input class="btn btn-primary stamina-add-btn" ng-click="vm.crntHeroStamina = (vm.crntHeroStamina == vm.maxHeroStamina ? vm.crntHeroStamina : vm.crntHeroStamina + 1)" type="image" src="images/misc/ArrowUp.png" />
                                        <input class="btn btn-primary stamina-subtract-btn" ng-click="vm.crntHeroStamina = (vm.crntHeroStamina == 0 ? 0 : vm.crntHeroStamina - 1)" type="image" src="images/misc/ArrowDown.png" />
                                    </div>
                                    <div class="defense">
                                        <img class="icon-label defense-image" src="images/stats/Defense.png" />
                                        <img ng-show="vm.heroDefense" class="stat-circle defense-stat" src="{{vm.heroDefense}}" />
                                        <img ng-show="!vm.heroDefense" class="stat-circle defense-stat" src="images/stats/Defense_Gray.PNG" />
                                    </div>  
                                </div>
                                <div class="col-md-5 col-lg-5">
                                    <div class="row">
                                        <div class="col-md-12 hero">
                                            <h4 class="text-center">{{vm.heroName || 'Hero Name'}}</h4>
                                            <img ng-show="vm.heroImageLink" class="hero-image" src="{{vm.heroImageLink}}" />
                                            <img ng-show="!vm.heroImageLink" class="hero-image" src="images/heroes/Hero_Selection.PNG" />
                                        </div>
                                    </div>
                                    <div class="row attribute-stats">
                                        <div class="col-md-12">
                                            <div class="willpower">
                                                <img class="icon-label willpower-image" src="images/attributes/Willpower.PNG" />
                                                <span class="stat-box willpower-stat">{{vm.heroWillpower}}</span>
                                            </div>
                                            <div class="might">
                                                <img class="icon-label might-image" src="images/attributes/Might.PNG">
                                                <span class="stat-box might-stat">{{vm.heroMight}}</span>
                                            </div>
                                            <div class="knowledge">
                                                <img class="icon-label knowledge-image" src="images/attributes/Knowledge.PNG" />
                                                <span class="stat-box knowledge-stat">{{vm.heroKnowledge}}</span>
                                            </div>
                                            <div class="awareness">
                                                <img class="icon-label awareness-image" src="images/attributes/Awareness.PNG" />
                                                <span class="stat-box awareness-stat">{{vm.heroAwareness}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-7 hero-skill">
                                    <div class="row hero-ability">
                                        <h4>Hero Ability</h4>
                                        <p class="text-center">{{vm.heroAbility}}</p>
                                    </div>
                                    <div class="row hero-feat">
                                        <h4>Heroic Feat</h4>
                                        <p class="text-center">{{vm.heroicFeat}}</p>
                                    </div>
                                </div>

                        </div> 
                    </div>
                    <div class="col-md-2">
                        <h6>Hero Equipment</h6>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <h4>Dice Simulator</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-5 dice-results">
                        <div id="diceResults" name="diceResults">
                           <div class="dice-result-format" ng-if="vm.attackDiceResults.length > 0" ng-repeat="attack in vm.attackDiceResults">
                                <input class="dice" type="image" ng-src="{{attack.dice}}" />
                           </div>
                           <hr />
                           <div class="dice-result-format" ng-if="vm.defenseDiceResults.length > 0" ng-repeat="defense in vm.defenseDiceResults">
                                <input class="dice" type="image" ng-src="{{defense.dice}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 dice-selection">
                        <div class="row">
                            <div class="col-md-10">
                                    <div class="col-md-12 attack-dice">
                                        <div class="dice-format">
                                            <span class="dice-count">{{vm.attackDice}}</span>
                                            <input class="dice" type="image" src="images/dices/attack/blue/Blue_Attack_Dice_6.PNG" />
                                            <span class="dice-add-subtract">
                                                <input class="btn btn-primary" ng-click="vm.attackDice = vm.attackDice + 1" type="image" src="images/misc/ArrowUp.png" />
                                                <input class="btn btn-primary" ng-click="vm.attackDice = (vm.attackDice == 0 ? 0 : vm.attackDice - 1)" type="image" src="images/misc/ArrowDown.png" />
                                            </span>
                                        </div>
                                        <div class="dice-format">
                                            <span class="dice-count">{{vm.redPowerDice}}</span>
                                            <input class="dice" type="image" src="images/dices/attack/red/Red_Attack_Dice_6.PNG" />
                                            <span class="dice-add-subtract">
                                                    <input class="btn btn-primary" ng-click="vm.redPowerDice = vm.redPowerDice + 1" type="image" src="images/misc/ArrowUp.png" />
                                                    <input class="btn btn-primary" ng-click="vm.redPowerDice = (vm.redPowerDice == 0 ? 0 : vm.redPowerDice - 1)" type="image" src="images/misc/ArrowDown.png" />
                                            </span>
                                        </div>
                                        <div class="dice-format">
                                            <span class="dice-count">{{vm.yellowPowerDice}}</span>
                                            <input class="dice" type="image" src="images/dices/attack/yellow/Yellow_Attack_Dice_6.PNG" />
                                            <span class="dice-add-subtract">
                                                    <input class="btn btn-primary" ng-click="vm.yellowPowerDice = vm.yellowPowerDice + 1" type="image" src="images/misc/ArrowUp.png" />
                                                    <input class="btn btn-primary" ng-click="vm.yellowPowerDice = (vm.yellowPowerDice == 0 ? 0 : vm.yellowPowerDice - 1)" type="image" src="images/misc/ArrowDown.png" />
                                            </span>
                                        </div>
                                        <div class="dice-format">
                                            <span class="dice-count">{{vm.greenPowerDice}}</span>
                                            <input class="dice" type="image" src="images/dices/attack/green/Green_Attack_Dice_6.PNG" />
                                            <span class="dice-add-subtract">
                                                    <input class="btn btn-primary" ng-click="vm.greenPowerDice = vm.greenPowerDice + 1" type="image" src="images/misc/ArrowUp.png" />
                                                    <input class="btn btn-primary" ng-click="vm.greenPowerDice = (vm.greenPowerDice == 0 ? 0 : vm.greenPowerDice - 1)" type="image" src="images/misc/ArrowDown.png" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 defense-dice">
                                        <div class="dice-format">
                                            <span class="dice-count">{{vm.greyDefenseDice}}</span>
                                            <input class="dice" type="image" src="images/dices/defense/grey/Grey_Defense_Dice_6.PNG" />
                                            <span class="dice-add-subtract">
                                                    <input class="btn btn-primary" ng-click="vm.greyDefenseDice = vm.greyDefenseDice + 1" type="image" src="images/misc/ArrowUp.png" />
                                                    <input class="btn btn-primary" ng-click="vm.greyDefenseDice = (vm.greyDefenseDice == 0 ? 0 : vm.greyDefenseDice - 1)" type="image" src="images/misc/ArrowDown.png" />
                                            </span>
                                        </div>
                                        <div class="dice-format">
                                            <span class="dice-count">{{vm.blackDefenseDice}}</span>
                                            <input class="dice" type="image" src="images/dices/defense/black/Black_Defense_Dice_6.PNG" />
                                            <span class="dice-add-subtract">
                                                    <input class="btn btn-primary" ng-click="vm.blackDefenseDice = vm.blackDefenseDice + 1" type="image" src="images/misc/ArrowUp.png" />
                                                    <input class="btn btn-primary" ng-click="vm.blackDefenseDice = (vm.blackDefenseDice == 0 ? 0 : vm.blackDefenseDice - 1)" type="image" src="images/misc/ArrowDown.png" />
                                            </span>
                                        </div>
                                        <div class="dice-format">
                                            <span class="dice-count">{{vm.brownDefenseDice}}</span>
                                            <input class="dice" type="image" src="images/dices/defense/brown/Brown_Defense_Dice_6.PNG" />
                                            <span class="dice-add-subtract">
                                                    <input class="btn btn-primary" ng-click="vm.brownDefenseDice = vm.brownDefenseDice + 1" type="image" src="images/misc/ArrowUp.png" />
                                                    <input class="btn btn-primary" ng-click="vm.brownDefenseDice = (vm.brownDefenseDice == 0 ? 0 : vm.brownDefenseDice - 1)" type="image" src="images/misc/ArrowDown.png" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-md-2">
                                <input class="btn btn-secondary"  type="button" value="Roll" ng-click="vm.diceRoll()" />
                            </div>
                        </div>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <h4>Monster Sheet</h4>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>

    <script src="scripts/app/dataService/dataservice.module.js"></script>
    <script src="scripts/app/dataService/heroesList.dataservice.js"></script>
    <script src="scripts/app/sheetTracker/sheetTracker.module.js"></script>
    <script src="scripts/app/sheetTracker/sheetTracker.controller.js"></script>
</body>
</html>
