.character-sheet {
  position: relative;
}

.character-sheet span {
  font-size: 20px;
}

.character-sheet .hero {
  height: 325px;
  text-align: center;
}

.character-sheet .hero h4 {
  border: 1px solid black;
  width: 100%;
  background-color: #FFFAFA;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 0;
}

.character-sheet .hero .hero-image {
  position: relative;
}

.character-sheet .hero .hero-image .image {
  width: 100%;
}

.character-sheet .skill-removal {
  background-color: red;
  color: white;
  border-radius: 100%;
}

.character-sheet .icon-label {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
}

.character-sheet .btn-primary {
  height: 25px;
  background-color: lightgray;
  border-color: black;
  border-radius: 0 5px  5px 0;
  color: black;
  position: absolute;
  z-index: 1;
}

.character-sheet .main-stats .stat-circle {
  position: absolute;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 1px solid black;
  text-align: center;
  padding-top: 20px;
  z-index: 2;
  color: white;
}

.character-sheet .main-stats .speed .speed-image {
  left: 205px;
  top: 0;
}

.character-sheet .main-stats .speed .speed-stat {
  left: 240px;
  top: 10px;
  background-color: #32CD32;
}

.character-sheet .main-stats .health .health-image {
  left: 205px;
  top: 80px;
}

.character-sheet .main-stats .health .health-stat {
  left: 240px;
  top: 90px;
  background-color: #FA8072;
}

.character-sheet .main-stats .health .health-add-btn {
  left: 300px;
  top: 100px;
}

.character-sheet .main-stats .health .health-subtract-btn {
  left: 300px;
  top: 125px;
}

.character-sheet .main-stats .stamina .stamina-image {
  left: 205px;
  top: 160px;
}

.character-sheet .main-stats .stamina .stamina-stat {
  left: 240px;
  top: 170px;
  background-color: #FF8C00;
}

.character-sheet .main-stats .stamina .stamina-add-btn {
  left: 300px;
  top: 180px;
}

.character-sheet .main-stats .stamina .stamina-subtract-btn {
  left: 300px;
  top: 205px;
}

.character-sheet .main-stats .defense .defense-image {
  left: 205px;
  top: 240px;
}

.character-sheet .main-stats .defense .defense-stat {
  left: 240px;
  top: 250px;
  padding-top: 0;
}

.character-sheet .attribute-stats {
  position: relative;
  height: 151px;
  background-color: #ffdd8a;
  border-radius: 0 0 0 10px;
}

.character-sheet .attribute-stats .stat-box {
  position: absolute;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  text-align: center;
  padding-top: 10px;
  color: white;
  background-color: red;
}

.character-sheet .attribute-stats .willpower .willpower-image {
  left: 10px;
  top: 85px;
}

.character-sheet .attribute-stats .willpower .willpower-stat {
  left: 50px;
  top: 85px;
  background-color: #D2691E;
}

.character-sheet .attribute-stats .might .might-image {
  left: 10px;
  top: 15px;
}

.character-sheet .attribute-stats .might .might-stat {
  left: 50px;
  top: 15px;
  background-color: #800000;
}

.character-sheet .attribute-stats .knowledge .knowledge-image {
  left: 150px;
  top: 15px;
}

.character-sheet .attribute-stats .knowledge .knowledge-stat {
  left: 190px;
  top: 15px;
  background-color: #4682B4;
}

.character-sheet .attribute-stats .awareness .awareness-image {
  left: 150px;
  top: 85px;
}

.character-sheet .attribute-stats .awareness .awareness-stat {
  left: 190px;
  top: 85px;
  background-color: #696969;
}

.character-sheet .hero-skill {
  height: 100%;
  background-color: #ffec9e;
}

.character-sheet .hero-skill h4 {
  border: 1px solid black;
  width: 200px;
  text-align: center;
  background-color: #ffdd8a;
  font-size: 16px;
}

.character-sheet .hero-skill .hero-ability, .character-sheet .hero-skill .hero-feat {
  height: 50%;
}

.character-sheet .hero-skill .hero-ability h4, .character-sheet .hero-skill .hero-feat h4 {
  margin: auto;
}

.character-sheet .hero-skill .hero-ability p, .character-sheet .hero-skill .hero-feat p {
  padding-left: 50px;
  padding-right: 50px;
  overflow: auto;
}

.character-sheet .hero-skill .hero-ability {
  border-bottom: 1px solid black;
}

.character-sheet .active-skills {
  background-color: #ffdd8a;
}

.character-sheet .active-skills h4 {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
  color: black;
  font-size: 16px;
  margin: 10px auto 0 auto;
}

.character-sheet .active-skills .skill-format {
  font-size: 12px;
  margin: 5px auto 0 auto;
  color: white;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  width: 100px;
  font-weight: bold;
  position: relative;
}

.character-sheet .active-skills .skill-format .skill-removal {
  background-color: red;
  color: white;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  top: -7px;
  right: -6px;
  padding: 0;
  position: absolute;
}
/*# sourceMappingURL=characterSheet.css.map */