.character-sheet {
    margin-top: 50px;
    background-color: lightskyblue;

    span {
        font-size: 20px;
    }

    .hero {
        text-align: center;
        padding-left: 0;
        padding-right: 0;

        h4 {
            border: 1px solid black;
            background-color: #FFFAFA;
            font-size: 16px;
            font-weight: bold;
            padding: 5px;
            margin-bottom: 0;
        }

        .hero-image {
            width: 100%;
        }
    }

    .hero-stats {
        background-color: lightgray;
        text-align: left;
        padding: 0;

        .main-stats, .attribute-stats {
            height: 50%;
            padding: 10px;
        }

        .main-stats {
            border-bottom: 1px solid black;
        }

        .stat-frame {
            .stat-circle, .stat-value {
                padding: 5px;
            }

            .stat-circle {
                border-radius: 50%;
                height: 60px;
                width: 60px;
                padding: 5px;
            }

            .stat-value {
                font-weight: bold;
            }
        }

        .btn {
            padding: 0 6px 0 6px;
        }
    }

    .hero-skill {
        background-color: #ffec9e;
        padding-left: 0;
        padding-right: 0;
        text-align: center;

        h4 {
            border: 1px solid black;
            width: 200px;
            background-color: #ffdd8a;
            font-size: 16px;
            font-weight: bold;
            margin: auto;
        }

        .hero-ability, .hero-feat {
            padding-top: 15px;
            padding-bottom: 15px;

            @media only screen and (min-width: 768px) {
                height: 50%;
            }

            p {
                padding: 10px;
                overflow: auto;
                margin-bottom: 0;
            }
        }

        .hero-ability {
            border-bottom: 1px solid black;
        }
    }

    .class-skill {
        text-align: left;
        overflow: auto;
        padding: 10px 0 10px 0;

        h4 {
            font-weight: bold;
        }
    }
}