<div class="character-selection">
    <div class="row">
        <h2 class="col-md-12">SELECT YOUR CHARACTER!</h2>
        <div class="col-lg-2 col-md-2 col-sm-3">
            <div class="selection">
                <h3>ROLE</h3>
                <select class="select-option" ng-model="selectedRole" ng-options="role.roleName for role in roles"></select>
                <div ng-show="selectedRole && !isMobile">
                    <img class="role" src="{{selectedRole.roleImage}}" />
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-9">
            <div class="selection" ng-show="selectedRole">
                <h3>HERO</h3>
                <select class="select-option" ng-model="selectedHero" ng-options="hero.heroName for hero in heroes | filter:{heroArcheType:selectedRole.roleName}"></select>
                <div class="row" ng-show="selectedHero">
                    <div class="col-lg-5 col-md-4 col-sm-4" ng-show="!isMobile">
                        <img class="hero" src="{{selectedHero.heroImageLink}}" />
                    </div>
                    <div class="col-lg-7 col-md-8 col-sm-8">
                        <h4>Hero Ability</h4>
                        <p>{{selectedHero.heroAbility}}</p>
                        <h4>Heroic Feat</h4>
                        <p>{{selectedHero.heroicFeat}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="selection" ng-show="selectedRole">
                <h3>CLASS</h3>
                <select class="select-option" ng-model="selectedClass" ng-options="class.className for class in classes | filter:{classType:selectedRole.roleName}"></select>
                <div ng-show="selectedClass">
                    <ul class="skills">
                        <li ng-repeat="skill in selectedClass.skills" ng-init="skill.viewSkillInfo" ng-click="skill.viewSkillInfo = !skill.viewSkillInfo">
                            <a href="#" class="btn text-left">{{skill.Name}} <i ng-class="{'fa-plus-circle': !skill.viewSkillInfo, 'fa-minus-circle': skill.viewSkillInfo }" class="fa"></i></a>
                            <div>
                                <img ng-show="skill.viewSkillInfo" class="skill-info" src="{{skill.Image}}" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row footer-controls">
        <div class="col-3">
            <button ng-show="characterSelected" ng-click="confirmSelection()" ng-disabled="!characterSelected">Back</button>
        </div>
        <div class="col-9 text-right">
            <button ng-click="confirmSelection()" ng-disabled="!selectedHero || !selectedClass">Confirm</button>
            <button ng-click="resetSelection()" ng-disabled="!selectedRole">Reset</button>
        </div>
    </div>
</div>