<div class="character-selection">
    <div class="row text-center">
        <h2 class="col-md-12">SELECT YOUR CHARACTER!</h2>
        <div class="col-md-4 text-right">
            <div class="selection">
                <h3 class="text-left">ROLE</h3>
                <select class="select-option" ng-model="selectedRole" ng-options="role.roleName for role in roles"></select>
                <div ng-show="selectedRole">
                    <img src="{{selectedRole.roleImage}}" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="selection" ng-show="selectedRole">
                <h3 class="text-left">HERO</h3>
                <select class="select-option" ng-model="selectedHero" ng-options="hero.heroName for hero in heroes | filter:{heroArcheType:selectedRole.roleName}"></select>
                <div ng-show="selectedHero">
                    <img class="hero" src="{{selectedHero.heroImageLink}}" />
                </div>
            </div>
        </div>
        <div class="col-md-4 text-left">
            <div class="selection" ng-show="selectedRole">
                <h3 class="text-left">CLASS</h3>
                <select class="select-option" ng-model="selectedClass" ng-options="class.className for class in classes | filter:{classType:selectedRole.roleName}"></select>
                <div ng-show="selectedClass">
                    <ul class="skills">
                        <li ng-repeat="skill in selectedClass.skills" ng-init="skill.viewSkillInfo" ng-click="skill.viewSkillInfo = !skill.viewSkillInfo">
                            <a href="#" class="btn">{{skill.Name}} <i ng-class="{'fa-plus-circle': !skill.viewSkillInfo, 'fa-minus-circle': skill.viewSkillInfo }" class="fa"></i></a>
                            <div>
                                <img ng-show="skill.viewSkillInfo" class="skill-info" src="{{skill.Image}}" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <button ng-show="characterSelected" ng-click="confirmSelection()" ng-disabled="!characterSelected">Back</button>
        </div>
        <div class="col-md-9 text-right">
            <button ng-click="confirmSelection()" ng-disabled="!selectedHero || !selectedClass">Confirm</button>
            <button ng-click="resetSelection()" ng-disabled="!selectedRole">Reset</button>
        </div>
    </div>
</div>