<div class="character-selection">
    <div class="row text-center">
        <h2 class="col-md-12">SELECT YOUR CHARACTER!</h2>
        <div class="col-md-4">
            
            <div class="selection">
                <h3>ROLE</h3>
                <select class="select-option" ng-model="selectedRole" ng-options="role.roleName for role in roles"></select>
                <div ng-show="selectedRole">
                    <img src="{{selectedRole.roleImage}}" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="selection" ng-show="selectedRole">
                <h3>HERO</h3>
                <select class="select-option" ng-model="selectedHero" ng-options="hero.heroName for hero in heroes | filter:{heroArcheType:selectedRole.roleName}"></select>
                <div ng-show="selectedHero">
                    <img src="{{selectedHero.heroImageLink}}" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="selection" ng-show="selectedRole">
                <h3>CLASS</h3>
                <select class="select-option" ng-model="selectedClass" ng-options="class.className for class in classes | filter:{classType:selectedRole.roleName}"></select>
                <div ng-show="selectedClass">
                    <ul>
                        <li ng-repeat="skill in selectedClass.skills">
                            {{skill.Name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12 text-right">
            <button ng-click="confirmSelection()" ng-disabled="!selectedHero || !selectedClass">Confirm</button>
            <button ng-click="cancelSelection()" ng-disabled="!selectedRole">Cancel</button>
        </div>
    </div>
</div>