.character-selection {
    
    .selection {
        display: inline-block;
        margin: 25px;
    
        .select-option {
            width: 100%;
            margin-bottom: 20px;
        }

        .hero {
            height: 250px;
        }

        .skills {
            text-align: left;
            list-style-type: none;
            padding-left: 0;

            .skill-info {
                height: 250px;
            }
        }
    }
}