.character-selection {
    
    .selection {
        margin: 25px;
    
        .select-option {
            width: 100%;
            margin-bottom: 20px;
        }

        .role, .hero {
            width: 100%;
        }

        

        .skills {
            list-style-type: none;
            padding-left: 0;

            .skill-info {
                padding-left: 12px;
            }
        }
    }
}

.footer-controls {
    margin-bottom: 15px;
}