.dice {
    width: 60px;
}

.dice-selection {
    background-color: darkgray;
    width: 100%;
    //text-align: center;

    .attack-dice {
        padding-bottom: 5px;
    }

    .defense-dice {
        padding-top: 5px;
    }

    .dice-format {
        margin-right: 10px;
        display: inline-block;
        text-align: center;
        height: 60px;
        position: relative;

        .dice-count {
            vertical-align: top;
            font-size: 28px;
            display: inline-block;
        }

        .dice-image {
            display: inline-block;
        }

        .dice-arrows {
            display: inline-block;
            margin-right: 50px;

            .fa-plus {
                height: 50%;
                top: 0;
                position: absolute;
            }

            .fa-minus {
                height: 50%;
                bottom: 0;
                position: absolute;
            }
        }
    }
}

.result-border {
    border-top: 2px solid black;
}

.dice-results {
    background-color: grey;
    width: 100%;

    .dice-result-format {
        display: inline-block;
        margin-right: 5px;
    }
}

.dice-results, .dice-selection {
    padding: 20px 10px 20px 10px; 
}



