<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#diceModal" ng-click="resetDice()">
    Roll Dices!
</button>
<div id="diceModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dice Simulator</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="dice-selection">
                        <div class="col-md-10 offset-md-1 col-sm-9 offset-sm-2 col-8 offset-2 attack-dice">
                            <div class="dice-format" ng-repeat="die in attackDice">
                                <div class="dice-count">{{die.count}}</div>
                                <div class="dice-image">
                                    <input class="dice" type="image" src={{die.image}} />
                                </div>
                                <span class="dice-arrows">
                                    <i class="btn btn-primary fa fa-plus" ng-click="die.count = die.count + 1"></i>
                                    <i class="btn btn-primary fa fa-minus" ng-click="die.count = (die.count == 0 ? 0 : die.count - 1)"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-10 offset-md-1 col-sm-9 offset-sm-2 col-8 offset-2 defense-dice">
                            <div class="dice-format" ng-repeat="die in defenseDice">
                                <span class="dice-count">{{die.count}}</span>
                                <div class="dice-image">
                                    <input class="dice" type="image" src={{die.image}} />
                                </div>
                                <span class="dice-arrows">
                                        <i class="btn btn-primary fa fa-plus" ng-click="die.count = die.count + 1"></i>
                                        <i class="btn btn-primary fa fa-minus" ng-click="die.count = (die.count == 0 ? 0 : die.count - 1)"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="row result-border" ng-show="isDiceCalculated">
                    <div class="dice-results">
                        <div class="col-md-10 offset-md-1 col-sm-9 offset-sm-2 col-8 offset-2 " id="diceResults" name="diceResults">
                            <div class="dice-result-format" ng-if="attackDiceResult.length > 0" ng-repeat="attack in attackDiceResult">
                                <input class="dice" type="image" ng-src="{{attack.dice}}" />
                            </div>
                            <hr />
                            <div class="dice-result-format" ng-if="defenseDiceResult.length > 0" ng-repeat="defense in defenseDiceResult">
                                <input class="dice" type="image" ng-src="{{defense.dice}}" />
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ng-click="getDiceRoll()">Roll</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>