<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-12 hero">
        <h4>
            {{hero.Name || 'Hero Name'}}
            <span class="fa" ng-class="{'fa-plus-circle' : !showHeroImage, 'fa-minus-circle' : showHeroImage}" ng-show="isMobile" ng-click="showHeroImage = !showHeroImage"></span>
        </h4>
        <div ng-show="showHeroImage || !isMobile">
            <img class="hero-image" ng-show="hero" ng-src="images/heroes/{{hero.Name}}.jpg" />
            <img class="hero-image" ng-show="!hero" src="images/heroes/Hero_Selection.PNG" />
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12 hero-stats">
        <div class="main-stats">
            <div class="col-md-12 stat-frame">
                <img class="stat-circle" src="images/stats/Speed.PNG" />
                <span class="stat-value">{{hero.Speed}}</span>
            </div>
            <div class="col-md-12 stat-frame">
                <img class="stat-circle" src="images/stats/Health.PNG" />
                <span class="stat-value">{{crntHeroHealth + '/' + maxHeroHealth}}</span>
                <button class="btn btn-secondary fa fa-plus" ng-click="crntHeroHealth = statAdd(crntHeroHealth, maxHeroHealth)"></button>
                <button class="btn btn-secondary fa fa-minus" ng-click="crntHeroHealth = statMinus(crntHeroHealth, 'health')"></button>
            </div>
            <div class="col-md-12 stat-frame">
                <img class="stat-circle" src="images/stats/Stamina.PNG" />
                <span class="stat-value">{{crntHeroStamina + '/' + maxHeroStamina}}</span>
                <button class="btn btn-secondary fa fa-plus" ng-click="crntHeroStamina = statAdd(crntHeroStamina, maxHeroStamina, 'stamina')"></button>
                <button class="btn btn-secondary fa fa-minus" ng-click="crntHeroStamina = statMinus(crntHeroStamina, 'stamina')"></button>
            </div>
            <div class="col-md-12 stat-frame">
                <img class="stat-circle" src="images/stats/Defense.png" />
                <img ng-show="hero.Defense_Die" class="stat-circle defense-stat" ng-src="{{getDefense(hero.Defense_Die)}}" />
            </div> 
        </div> 
        <div class="attribute-stats">
            <div class="col-md-12 stat-frame">
                <img class="stat-circle" src="images/attributes/Willpower.PNG" />
                <span class="stat-value">{{hero.Willpower}}</span>
            </div>
            <div class="col-md-12 stat-frame">
                <img class="stat-circle" src="images/attributes/Might.PNG">
                <span class="stat-value">{{hero.Strength}}</span>
            </div>
            <div class="col-md-12 stat-frame">
                <img class="stat-circle" src="images/attributes/Knowledge.PNG" />
                <span class="stat-value">{{hero.Knowledge}}</span>
            </div>
            <div class="col-md-12 stat-frame">
                <img class="stat-circle" src="images/attributes/Awareness.PNG" />
                <span class="stat-value">{{hero.Awareness}}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-12 hero-skill">
        <div class="hero-ability">
            <h4>Hero Ability</h4>
            <p class="text-center">{{hero.Hero_Ability}}</p>
        </div>
        <div class="hero-feat">
            <h4>Heroic Feat{{activateHeroicFeat ? ' Expended' : ''}}</h4>
            <p class="text-center">{{activateHeroicFeat ? hero.Fluff_Text : hero.Heroic_Feat}}</p>
            <button ng-click="activateHeroicFeat = !activateHeroicFeat">{{activateHeroicFeat ? 'Reset' : 'Activate'}}</button>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
        <div class="class-skill">
            <h4>Class Skills</h4>
            <input type="checkbox" ng-model='showActiveSkills' ng-init="showActiveSkills = false" />
            <span>Show Active Skills</span>
            <div ng-show="(showActiveSkills && skill.active) || !showActiveSkills" ng-repeat="skill in skills">
                <input type="checkbox" ng-model='skill.active' ng-init='skill.active = false' />
                <a href="#" class="btn" ng-click="skill.viewSkillInfo = !skill.viewSkillInfo">{{skill.Name}} <i ng-class="{'fa-plus-circle': !skill.viewSkillInfo, 'fa-minus-circle': skill.viewSkillInfo }" class="fa"></i></a>
                <div ng-show="skill.viewSkillInfo" class="skill-info">
                    <p><strong>XP: </strong>{{skill.XP}}</p>
                    <p><strong>TEXT: </strong>{{skill.Text}}</p>
                    <p><strong>COST: </strong>{{skill.Cost}}</p>
                </div>
            </div>
            <div ng-show="hybridSkills">
                <h5>HYBRID</h5>
                <div ng-repeat="hybridSkill in hybridSkills | filter:{XP:'!3'}" ng-show="(showActiveSkills && hybridSkill.active) || !showActiveSkills">
                    <input type="checkbox" ng-model='hybridSkill.active' ng-init='hybridSkill.active = false' />
                    <a href="#" class="btn" ng-click="hybridSkill.viewSkillInfo = !hybridSkill.viewSkillInfo">{{hybridSkill.Name}} <i ng-class="{'fa-plus-circle': !hybridSkill.viewSkillInfo, 'fa-minus-circle': hybridSkill.viewSkillInfo }" class="fa"></i></a>
                    <div ng-show="hybridSkill.viewSkillInfo" class="skill-info">
                        <p><strong>XP: </strong>{{hybridSkill.XP}}</p>
                        <p><strong>TEXT: </strong>{{hybridSkill.Text}}</p>
                        <p><strong>COST: </strong>{{hybridSkill.Cost}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
